{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{deps, [{b64,
         {git, "https://github.com/gearnode/erl-b64.git",
          {tag, "v1.1.1"}}},
        {ksuid,
         {git, "https://github.com/gearnode/erl-ksuid.git",
          {tag, "v1.1.3"}}}]}.

{shell, [{apps, []}]}.
