{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{deps, [{hex,
         {git, "https://github.com/exograd/erl-hex.git",
          {branch, "master"}}},
        {ksuid,
         {git, "https://github.com/exograd/erl-ksuid.git",
          {branch, "master"}}}]}.

{shell, [{apps, []}]}.
